/* comentario del navbar */

nav {
    background-color: #660066;
}

.navbar-brand {
    font-family: oswald;
    font-size: 2em;
    font-weight: bold;
    padding-left: 100px;
}

#hero-section {
    /* height: 30vh; */
    background-image: url(/assets/img/bg_hero.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
}

#textoFoto1 {
    font-family: oswald;
    font-weight: extraLigth;
    font-size: 2em;
}

#nvoLine {
    width: 350px;
    height: 5px;
    color: white solid;
    background-color: white;
}

#textoFoto2 {
    font-family: "Oswald";
    font-weight: bold;
    font-size: 2em;
}

#texto-cuerpo {
    font-family: "Oswald";
    font-weight: SemiBold;
    font-size: 1.7em;
    text-align: center;
    letter-spacing: .4em;
}

#texto-cuerpo-columnas {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 1em;
    line-height: 3;
    letter-spacing: .15em;
}

@media (max-width: 500px) {
    #textoFoto1 {
        font-family: oswald;
        font-weight: extraLigth;
        font-size: 1em;
    }
    #nvoLine {
        width: 100px;
        height: 5px;
        color: white;
    }
    #textoFoto2 {
        font-family: oswald;
        font-weight: bold;
        font-size: 1em;
    }
}

/* mi experiencia */

#experiencia i {
    color: #660066
}



#experiencia div h1 {
    font-size: 2em;
    color: aqua;
}

#experiencia div:last-child article h4:first-child {
    font-family: "Open Sans";
    font-size: 0.2em;
}

#experiencia div:last-child article h4:last-child {
    font-family: "Oswald";
    font-size: 5em;
    color: aqua;
}

#trabajos {
background-color: #660066;
border: white solid;
color: white;
}

#trabajos div hr {
    height: 20px;
}