body {
    font-family: sans-serif;
    margin-top: 4.5rem;
    font-family: 'Open Sans', sans-serif;
    
}

#letra_logo {
    font-family: 'Oswald', Bold;
    font-size: 3rem;
}

.textofoto {
    position: relative;



}